.official {
  display: block;
  width: 960px;
  margin: 0px auto;

  &_container {
    position: relative;
    display: block;
    width: 100%;
  }

  &_left {
    position: relative;
    display: none;
  }

  &_all {
    margin: 24px 0px;
    padding: 0px;
    background-color: var(--color-card, #ffffff);
    cursor: default;
    position: relative;
    display: block;
    border-radius: 0px;
    box-shadow: none;
    width: calc(100% + 20px);
  }

  &_head {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    -webkit-box-align: baseline;
    align-items: baseline;
    min-height: 30px;
    margin-bottom: 16px;
  }

  &_title1 {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    -webkit-box-align: baseline;
    align-items: baseline;
    overflow: hidden;
  }

  &_title2 {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    overflow: hidden;
  }

  &_name1 {
    flex: 1 1 auto;
    font-size: 1.71429rem;
    font-weight: 600;
    font-family: "Nunito Sans", -apple-system, sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: normal;
    text-align: left;
    color: rgba(49, 53, 59, 0.96);
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
  }

  &_name2 {
    font-size: 1.14286rem;
    font-weight: bold;
    line-height: 1.57143rem;
    color: var(--G500, #03ac0e);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 12px;
  }

  &_bottom {
    position: absolute;
    top: 0px;
    left: -104px;
    width: 100px;
    height: 100%;
    background: var(--N0, #ffffff);
    z-index: 3;
  }

  //cards
  &_cards {
    position: relative;
    overflow: hidden;
    left: -20px;
    width: calc(100% + 20px);
    padding: 24px 20px 20px;
  }

  &_img {
    display: block;
    position: absolute;
    top: 0px;
    left: 20px;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    background: linear-gradient(rgb(92, 43, 215), rgb(92, 43, 215));
    animation: 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both
      running animation-8jxysv;
    border-radius: 12px;
    width: calc(24% - 6px);

    &__ofc {
      background-repeat: no-repeat;
      background-size: 99% 100%;
      position: relative;
      text-align: center;
      width: 65%;
      height: 100%;
      margin: 0px;
      background-color: transparent;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
    }

    &__bg {
      opacity: 1;
      margin: 0px auto;
      max-height: 100%;
      min-height: 260px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      object-fit: contain;
      width: 100%;
    }
  }

  //data card
  &_data {
    margin: 0px -8px;
    position: static;

    &__wrapper {
      overflow: hidden;
      margin-left: 0px;
      margin-right: 0px;
    }

    &__cards {
      transform: translateX(0%);
      z-index: 2;
      display: inline-block;
      width: 100%;
      padding: 0px;
      line-height: normal;
      flex-shrink: 0;
    }

    &__images {
      &-1 {
        height: 100%;
        transform: scale(1);
      }

      &-2 {
        height: 100%;
      }

      &-3 {
        display: inline-flex;
        -webkit-box-align: stretch;
        align-items: stretch;
        width: 100%;
        height: 100%;
        padding: 0px;
        box-sizing: border-box;
        background-color: transparent;
        position: relative;
      }

      &-4 {
        position: relative;
        border-radius: 8px;
        min-width: 100%;
        display: block;
        padding: 0px 8px;
      }

      &-5 {
        position: relative;
        height: 100%;
        z-index: 0;
        min-width: 50%;
        cursor: pointer;
        flex: 1 1 auto;
        background-color: transparent;
      }

      &-6 {
        height: 100%;
        display: flex;
        overflow: hidden;
        padding: 0px;
        border-radius: 9px;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        box-shadow: rgb(49 53 59 / 12%) 0px 1px 6px 0px;
        margin: 0px;
      }

      &-7 {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        position: static;
        overflow: visible;
        background-color: var(--N0, #ffffff);
      }

      &-8 {
        position: relative;
        margin: 0px;
        display: block;
        padding-bottom: 100%;
        height: 0px;
        overflow: hidden;
      }

      &-9 {
        font-family: "open sans", tahoma, sans-serif;
      }

      &-10 {
        background-repeat: no-repeat;
        background-size: 99% 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        text-align: center;
        width: 100%;
        display: block;
      }

      &-img {
        opacity: 1;
        border-radius: 8px 8px 0px 0px;
      }
    }

    &__detail {
      &-1 {
        padding: 8px;
        height: auto;
        vertical-align: middle;
        width: 100%;
        position: relative;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        overflow: hidden;
        background-color: var(--N0, #ffffff);
      }

      &-2 {
        font-family: "open sans", tahoma, sans-serif;
        display: flex;
        flex-flow: column;
        -webkit-box-flex: 1;
        flex-grow: 1;
        text-align: left;
      }

      &-3 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        line-height: 14px;
        font-weight: 500;
        font-size: 0.714286rem;
        color: var(--N0, #ffffff);
        height: 20px;
        padding: 2px 20px 2px 8px;
        margin: -8px -8px 4px;
        background-image: url(https://images.tokopedia.net/img/phOWBv/2021/10/31/a478c44c-2e0f-4d41-8fe1-85d2cde70a41.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &-4 {
        margin-bottom: 4px;
        font-size: 0.83rem;
        color: rgba(49, 53, 59, 0.96);
        max-width: 100%;
        max-height: 100%;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
        white-space: pre-wrap;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &-5 {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        margin-bottom: 4px;
        color: rgba(49, 53, 59, 0.96);
        opacity: 1;
        font-size: 0.86rem;
        font-weight: bold;
        align-items: flex-end;
        line-height: 1.43;
      }

      &-6 {
        position: relative;
      }

      &-img {
        position: relative;
        display: flex;
        flex: 0 0 16px;
        height: 16px;
        margin-right: 2px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(https://images.tokopedia.net/img/official_store_badge.png);
      }

      &-loc {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        color: var(--N700, rgba(49, 53, 59, 0.54));
        font-size: 0.82rem;
        line-height: 18px;
        margin-bottom: 4px;
      }

      &-name {
        display: flex;
        flex-direction: column;
        line-height: 18px;
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }

      &-wil {
        height: 20px;
        transition: transform 0.3s ease 0s;
        transform: translateY(0px);
      }

      &-btm {
        display: none;
      }

      &-star {
        width: 100%;
        margin-bottom: 1px;
        color: rgba(49, 53, 59, 0.68);
        background-color: var(--N0, #ffffff);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        overflow: hidden;
      }

      &-lg {
        margin-right: 2px;
        flex-shrink: 0;
        position: relative;
        width: 16px;
        height: 16px;
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px;
        vertical-align: middle;
        background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/9527c778.svg);
      }

      &-score {
        font-family: "open sans", tahoma, sans-serif;
        display: flex;
        font-size: 0.82rem;
        color: rgba(49, 53, 59, 0.68);
        -webkit-box-align: center;
        align-items: center;
        line-height: normal;
        height: 12px;
      }

      &-line {
        margin: 1px 4px 0px;
        height: 10px;
        width: 1px;
        background: rgba(49, 53, 59, 0.32);
        color: rgba(49, 53, 59, 0.68);
      }

      &-sold {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: normal;
        height: auto;
        line-height: normal;
        margin-bottom: 0px;
        padding: 0px;
        font-size: 0.83rem;
        display: inline-block;
        background-color: var(--N0, #ffffff);
        border-radius: 3px;
        color: rgba(49, 53, 59, 0.68);
        letter-spacing: normal;
      }
    }

    &__cardAll {
      padding-bottom: 4px;
      white-space: nowrap;
      line-height: 0;
      overflow: hidden;
      padding-left: 0px;
      padding-right: 83.3333%;
      display: flex;

      &-img {
        transform: translateX(0%);
        z-index: 1;
        display: inline-block;
        width: 100%;
        padding: 0px;
        line-height: normal;
        flex-shrink: 0;
      }

      &-con {
        height: 100%;
        transform: scale(1);
      }

      &-1 {
        height: 356px;
      }

      &-2 {
        flex: 1 1 auto;
        background-color: transparent;
      }
    }

    &__next {
      width: 0px;
      cursor: pointer;
      top: 0px;
      height: 100%;
      position: absolute;
      left: 0px;
    }

    &__back {
      width: 0px;
      cursor: pointer;
      top: 0px;
      height: 100%;
      position: absolute;
      right: 0px;
    }
  }
}

@media (min-width: 1280px) {
  .official {
    width: 1208px;
  }
}
